<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am an experienced technology generalist committed to turning big picture ideas into results. Using my broad foundation of knowledge and hands on experience in technology and strategy consulting, network design and implementation, technical project management, system architecture design, and business process engineering, I identify strategic opportunities for improvement, efficiency, and cost savings. I'm a lateral thinker and trusted advisor who can solve complex problems in elegant ways.</p>
</div><!--//summary-->
</section><!--//section-->
