<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Principal Solutions Architect - Networking Specialist</h3>
                            <div class="time">August 2019 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon Web Services, San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Design Customer Solutions: Collaborate with AWS teams to help customers and partners architect Networking Solutions on AWS.</p>
                        <p>Thought Leadership: Contribute to external publications such as blogs, whitepapers and reference architectures, as well as internal training of Solutions Architects, Professional Services Consultants, Technical Account Managers, and AWS Trainers.</p> 
                        <p>Technical and Business Strategies: Capture and share best-practice knowledge within the AWS solution architect community.</p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Enterprise Support Lead</h3>
                            <div class="time">February 2016 - August 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon Web Services, San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Dedicated technical point of contact for a strategic AWS customer with Enterprise level support.</p>
                        <p>Work across customer organizations to ensure customer’s applications in AWS are well designed and scale to the needs of large events and business initiatives.</p>
                        <p>Act as the voice of the customer within AWS to escalate problems and to drive prioritization of business needs for AWS customers.</p>
                        <p>Lead and assist AWS customers with application performance and architecture, cost optimization, deployment planning, and problem resolution.</p>
                        <p>Troubleshoot technical issues and drive issue escalation with AWS Service teams.</p>
                    </div><!--//details-->
                </div><!--//item-->
                                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager - Edge Services</h3>
                            <div class="time">September 2015 – February 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CloudFlare, San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Product responsibility for Edge Services, including Proxy, Cache and Origin Routing. Release of HTTP/2 + SPDY support, enabling 1.8 million domains with a faster web experience.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staff Integration Architect</h3>
                            <div class="time">January 2012 – September 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">VMware, Palo Alto / San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Architect for the VMware Validated Design (V2D) program for a Software Defined Data Center (SDDC), providing design blueprints for repeatable business outcomes.</p>  
                    </div><!--//details-->
                    <div class="details">
                        <p>Consult Engineering and Product Management on improving IPv6 readiness in the VMware vSphere suite for service provider and enterprise adoption.</p>  
                    </div><!--//details-->
                    <div class="details">
                        <p>Negotiate with Product Management and Engineering about operational excellence in new product features, providing constructive feedback on the implementation and operation of VMware and partner products and technologies within a global cloud environment.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager - Technology Intelligence</h3>
                            <div class="time">January 2010 – December 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Systems, Rolle, Switzerland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Introduced Technology Intelligence and associated processes throughout Cisco, for identifying technologies that could disrupt Cisco’s existing product portfolio or that Cisco could leverage to disrupt existing adjacent industries.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Corporate Development Engineer - M&A Advisory</h3>
                            <div class="time">June 2008 – December 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Systems, Rolle, Switzerland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provided technology advisory for M&A deals, strategy alignment as well as product and services category definition in the emerging space of data centers and virtualization technology.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer - Disruptive Innovation</h3>
                            <div class="time">June 2007 – May 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Systems, Rolle, Switzerland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Identified and captured value from technology disruptions, to drive new market creations through the definition of innovative products and services.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
            </section><!--//section-->
