<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sr. Technical Account Manager</h3>
                            <div class="time">February 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon Web Services, San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Primary technical point of contact for a key AWS customer, helping to plan, debug, and oversee new deployments and ongoing operations of business critical applications.</p>
                    </div><!--//details-->
                </div><!--//item-->
                                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager - Edge Services</h3>
                            <div class="time">September 2015 – February 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">CloudFlare, San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Product responsibility for Edge Services, including Proxy, Cache and Origin Routing. Release of HTTP/2 + SPDY support, enabling 1.8 million domains with a faster web experience.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staff Integration Architect</h3>
                            <div class="time">January 2012 – September 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">VMware, Palo Alto / San Francisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Architect for the VMware Validated Design (V2D) program for a Software Defined Data Center (SDDC), providing design blueprints for repeatable business outcomes.</p>  
                    </div><!--//details-->
                    <div class="details">
                        <p>Consult Engineering and Product Management on improving IPv6 readiness in the VMware vSphere suite for service provider and enterprise adoption.</p>  
                    </div><!--//details-->
                    <div class="details">
                        <p>Negotiate with Product Management and Engineering about operational excellence in new product features, providing constructive feedback on the implementation and operation of VMware and partner products and technologies within a global cloud environment.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager - Technology Intelligence</h3>
                            <div class="time">January 2010 – December 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Systems, Rolle, Switzerland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Introduced Technology Intelligence and associated processes throughout Cisco, for identifying technologies that could disrupt Cisco’s existing product portfolio or that Cisco could leverage to disrupt existing adjacent industries.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Corporate Development Engineer - M&A Advisory</h3>
                            <div class="time">June 2008 – December 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Systems, Rolle, Switzerland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provided technology advisory for M&A deals, strategy alignment as well as product and services category definition in the emerging space of data centers and virtualization technology.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer - Disruptive Innovation</h3>
                            <div class="time">June 2007 – May 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Systems, Rolle, Switzerland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Identified and captured value from technology disruptions, to drive new market creations through the definition of innovative products and services.</p>  
                    </div><!--//details-->
                </div><!--//item-->
  
            </section><!--//section-->
