<section class="section patent-section">
                <h2 class="section-title"><i class="fa fa-lightbulb-o"></i>Patents</h2>
                
                <div class="item">
                        <h3 class="patent-title"><a href="http://www.google.com.na/patents/US20110206058">Automatic Determination of Groupings of Communications Interfaces</a></h3>
                        <div class="patent-id">United States US 2011/0206058 A1 - Issued February 24, 2010</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="http://www.google.com.na/patents/US20110134793">Preventing Loops On Network Topologies Built With Virtual Switches And VMs</a></h3>
                        <div class="patent-id">United States US 2011/0134793 A1 - Issued December 3, 2009</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="http://www.google.com.na/patents/US20110019676">Extended subnets</a></h3>
                        <div class="patent-id">United States US 2011/0019676 A1 - Issued July 21, 2009</div>
                </div><!--//item-->
                  
                <div class="item">
                        <h3 class="patent-title"><a href="http://www.google.com.na/patents/US8027354">Network consolidation for virtualized servers</a></h3>
                        <div class="patent-id">United States US8027354 B1 - Issued April 29, 2009</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="http://www.google.com.na/patents/US20090313241">Seeding search engine crawlers using intercepted network traffic</a></h3>
                        <div class="patent-id">United States US 2009/0313241 A1 - Issued June 16, 2008</div>
                </div><!--//item-->
  
            </section><!--//section-->
