<section class="section patent-section">
                <h2 class="section-title"><i class="fa fa-lightbulb"></i>Patents</h2>

                <div class="item">
                        <h3 class="patent-title"><a href="https://ppubs.uspto.gov/dirsearch-public/print/downloadPdf/11991211">Symmetric cross-region network data flow management</a></h3>
                        <div class="patent-id">United States US-11991211-B1 - Issued May 21, 2024</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="https://ppubs.uspto.gov/dirsearch-public/print/downloadPdf/20110206058">Automatic Determination of Groupings of Communications Interfaces</a></h3>
                        <div class="patent-id">United States US-20110206058-A1 - Issued August 25, 2011</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="https://ppubs.uspto.gov/dirsearch-public/print/downloadPdf/20110134793">Preventing Loops On Network Topologies Built With Virtual Switches And VMs</a></h3>
                        <div class="patent-id">United States US-20110134793-A1 - Issued June 9, 2011</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="https://ppubs.uspto.gov/dirsearch-public/print/downloadPdf/20110019676">Extended subnets</a></h3>
                        <div class="patent-id">United States US-20110019676-A1 - Issued January 27, 2011</div>
                </div><!--//item-->
                  
                <div class="item">
                        <h3 class="patent-title"><a href="https://ppubs.uspto.gov/dirsearch-public/print/downloadPdf/8027354">Network consolidation for virtualized servers</a></h3>
                        <div class="patent-id">United States US-8027354-B1 - Issued September 27, 2011</div>
                </div><!--//item-->
  
                <div class="item">
                        <h3 class="patent-title"><a href="https://ppubs.uspto.gov/dirsearch-public/print/downloadPdf/20090313241">Seeding search engine crawlers using intercepted network traffic</a></h3>
                        <div class="patent-id">United States US-20090313241-A1 - Issued December 17, 2009</div>
                </div><!--//item-->
  
            </section><!--//section-->
